absl-py==0.6.0
aiohttp==1.0.5
argcomplete==1.8.2
astor==0.7.1
async-timeout==2.0.0
beautifulsoup4==4.5.3
certifi==2017.7.27.1
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dill==0.2.7.1
discord.py==0.16.12
docx2txt==0.6
EbookLib==0.15
en-core-web-sm==1.2.0
feedfinder2==0.0.4
feedparser==5.2.1
Flask==1.0.2
ftfy==4.4.3
gast==0.2.0
gradient==1.6
grpcio==1.16.0
gunicorn==19.7.1
h5py==2.8.0
html5lib==0.999999999
idna==2.6
inflection==0.3.1
itsdangerous==1.1.0
jieba3k==0.35.1
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lxml==4.2.4
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.0
more-itertools==4.3.0
multidict==3.3.0
murmurhash==0.26.4
newspaper3k==0.2.8
nltk==3.3
numpy==1.16.2
oauthlib==2.1.0
olefile==0.44
pandas==0.21.0
pathlib==1.0.1
Pillow==4.2.1
pkginfo==1.4.1
plac==0.9.6
preshed==1.0.0
protobuf==3.6.1
psycopg2==2.7.3.2
PyAutoGUI==0.9.36
pygame==1.9.3
PyJWT==1.6.1
PyMsgBox==1.0.6
pyobjc==3.2.1
pyobjc-core==3.2.1
pyobjc-framework-Accounts==3.2.1
pyobjc-framework-AddressBook==3.2.1
pyobjc-framework-AppleScriptKit==3.2.1
pyobjc-framework-AppleScriptObjC==3.2.1
pyobjc-framework-ApplicationServices==3.2.1
pyobjc-framework-Automator==3.2.1
pyobjc-framework-AVFoundation==3.2.1
pyobjc-framework-AVKit==3.2.1
pyobjc-framework-CalendarStore==3.2.1
pyobjc-framework-CFNetwork==3.2.1
pyobjc-framework-CloudKit==3.2.1
pyobjc-framework-Cocoa==3.2.1
pyobjc-framework-Collaboration==3.2.1
pyobjc-framework-Contacts==3.2.1
pyobjc-framework-ContactsUI==3.2.1
pyobjc-framework-CoreBluetooth==3.2.1
pyobjc-framework-CoreData==3.2.1
pyobjc-framework-CoreLocation==3.2.1
pyobjc-framework-CoreText==3.2.1
pyobjc-framework-CoreWLAN==3.2.1
pyobjc-framework-CryptoTokenKit==3.2.1
pyobjc-framework-DictionaryServices==3.2.1
pyobjc-framework-DiskArbitration==3.2.1
pyobjc-framework-EventKit==3.2.1
pyobjc-framework-ExceptionHandling==3.2.1
pyobjc-framework-FinderSync==3.2.1
pyobjc-framework-FSEvents==3.2.1
pyobjc-framework-GameCenter==3.2.1
pyobjc-framework-GameController==3.2.1
pyobjc-framework-ImageCaptureCore==3.2.1
pyobjc-framework-IMServicePlugIn==3.2.1
pyobjc-framework-InputMethodKit==3.2.1
pyobjc-framework-InstallerPlugins==3.2.1
pyobjc-framework-InstantMessage==3.2.1
pyobjc-framework-Intents==3.2.1
pyobjc-framework-IOSurface==3.2.1
pyobjc-framework-LatentSemanticMapping==3.2.1
pyobjc-framework-LaunchServices==3.2.1
pyobjc-framework-LocalAuthentication==3.2.1
pyobjc-framework-MapKit==3.2.1
pyobjc-framework-MediaAccessibility==3.2.1
pyobjc-framework-MediaLibrary==3.2.1
pyobjc-framework-MediaPlayer==3.2.1
pyobjc-framework-ModelIO==3.2.1
pyobjc-framework-MultipeerConnectivity==3.2.1
pyobjc-framework-NetFS==3.2.1
pyobjc-framework-NetworkExtension==3.2.1
pyobjc-framework-NotificationCenter==3.2.1
pyobjc-framework-OpenDirectory==3.2.1
pyobjc-framework-Photos==3.2.1
pyobjc-framework-PhotosUI==3.2.1
pyobjc-framework-PreferencePanes==3.2.1
pyobjc-framework-PubSub==3.2.1
pyobjc-framework-QTKit==3.2.1
pyobjc-framework-Quartz==3.2.1
pyobjc-framework-SafariServices==3.2.1
pyobjc-framework-SceneKit==3.2.1
pyobjc-framework-ScreenSaver==3.2.1
pyobjc-framework-ScriptingBridge==3.2.1
pyobjc-framework-SearchKit==3.2.1
pyobjc-framework-ServiceManagement==3.2.1
pyobjc-framework-Social==3.2.1
pyobjc-framework-SpriteKit==3.2.1
pyobjc-framework-StoreKit==3.2.1
pyobjc-framework-SyncServices==3.2.1
pyobjc-framework-SystemConfiguration==3.2.1
pyobjc-framework-WebKit==3.2.1
pyparsing==2.2.2
PyPDF2==1.26.0
PyScreeze==0.1.13
PySocks==1.6.8
python-dateutil==2.6.1
python-pptx==0.6.5
PyTweening==1.0.3
pytz==2017.2
PyYAML==3.13
Quandl==3.4.2
regex==2017.9.23
requests==2.19.1
requests-file==1.4.3
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
schoolopy==0.2.0
scikit-learn==0.20.3
scipy==1.0.0
six==1.10.0
sklearn==0.0
spacy==1.9.0
SpeechRecognition==3.6.3
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
thinc==6.5.2
tinysegmenter==0.3
tldextract==2.2.1
toolz==0.8.2
tqdm==4.18.0
twilio==6.13.0
twine==1.9.1
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
webcolors==1.7
webencodings==0.5.1
websockets==3.4
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.0.0
XlsxWriter==1.0.9
